* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1 {
    font-size: 50px;
    line-height: 2;
    margin: 2rem;
}

a {
    color: aquamarine;
    text-decoration: underline;
    margin: 1rem;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    margin: 2rem;
}

h3 {
    color: gray;
    font-size: 21px;
    margin: 1rem;
}

.camp {
    margin: 1rem;
}